[submodule "libopenssl"]
	path = libopenssl
	url = https://github.com/openssl/openssl.git
[submodule "thirdparty/cryptopp"]
	path = thirdparty/cryptopp
	url = https://github.com/weidai11/cryptopp.git
